<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.2.xsd" >
     <!-- 启动@AspectJ支持 -->
     <aop:aspectj-autoproxy/>
     
     <!-- 配置数据源 -->
	 <context:property-placeholder location="classpath:jdbc.properties"/> 
	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" 
	 	p:driverClassName="${jdbc.driverClassName}" 
	 	p:url="${jdbc.url}" 
	 	p:username="${jdbc.username}" 
	 	p:password="${jdbc.password}" />
	
	 <!-- jdbc模板类 -->
	 <bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"  p:dataSource-ref="dataSource"/>
	 
	 <bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler"  lazy-init="true"/>
	 
	 <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="WEB-INF/config/sqlMapConfig.xml"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="lobHandler" ref="oracleLobHandler"/>
	 </bean>
	 
	 <bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	 </bean>
	 
	 <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	 </bean>

	 <tx:advice id="txAdvice" transaction-manager="txManager">
	    <tx:attributes>
	        <tx:method name="insert*" propagation="REQUIRED"/>    
	        <tx:method name="*"/>
	    </tx:attributes>
	</tx:advice>
    
    <aop:config>
        <!-- 只对业务逻辑层实施事务 -->
        <aop:pointcut id="txPointcut" expression="execution(* com.lidaning.sys.user.service..*.*(..))" />
        <!-- Advisor定义，切入点和通知分别为txPointcut、txAdvice -->
        <aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
    </aop:config>
	 	
</beans>